<html>
    <head>
        <title>ContactList</title>
    </head>
    <body>
        <h1 align="center">Contact List</h1>
         <table border="1" align="center">
                <tr>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Vpmn</th>
                    <th>Address</th>
                </tr>
                <tr>
                    <td>Shi Hang</td>
                    <td>15222222222</td>
                    <td>62222</td>
                    <td>TaiYuan</td>
                </tr>
                <tr>
                    <td>Xiao Bai</td>
                    <td>15222222222</td>
                    <td>62222</td>
                    <td>TaiYuan</td>
                </tr>
            </table>       
    </body>
</html>